.aboutButtonsContainer {
  background: #ab0606;
  padding: 5px;
  border-radius: 50em;
}
.aboutButtonsContainer:hover {
  animation: bounce 0.5s;
}
@keyframes bounce {
  0% { transform: translateY(0);}
  25% { transform: translateY(-4px);}
  50% { transform: translateY(0);}
  75% { transform: translateY(-2px);}
  100% { transform: translateY(0);}
}
.customBtn {
  background-color: #990000;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0px 0px 0px 8px;
  min-width: 100px;
  font-weight: 600;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.customBtn:hover {
  background-color: #b30000;
  color: white;
}
.btnText {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 13px;
}
@media (min-width: 1400px) {
  .btnText { font-size: 14px; }
  .btnIcon { width: 35px; height: 35px; }
  .aboutButtonsContainer { padding: 6px; }
}
@media (max-width: 389px) {
  .btnText { font-size: 12px; }
}
.btnIcon {
  background-color: white;
  color: #333;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  flex-shrink: 0;
  font-size: 16px;
}
.btnIcon img {
  width: 22px;
}
.btnFlexWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

/* About page */
.rowSpace {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 0;
}
.aboutSectionTextBorder {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 16px;
  background: #fff;
}
.aboutText {
  font-size: 16px;
  margin-bottom: 10px;
  color: #505050;
  text-align: justify;
}
.heightBox {
  border-radius: 5px;
  padding-left: 24px;
}
.heightBox img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  max-width: 100%;
}
.heightEndImgBox img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  max-width: 100%;
}
@media (min-width: 1200px) {
    .heightThirdBox {
    padding-left: 24px;
    }
    .heightEndImgBox {
    padding-right: 24px;
    }
}
.heightThirdBox img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  max-width: 100%;
}
/* Responsive styles */
@media (max-width: 1199px) {
  .heightBox {
    height: auto;
    max-width: 100%;
    margin: 15px 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .heightBox img {
    height: 431px;
  }
  .aboutSectionTextBorder {
    padding: 16px 16px 5px 16px;
  }
  .heightThirdBox img {
    height: 455px;
  }
}
@media (min-width: 1200px) {
  .heightBox {
    border-radius: 5px;
    padding-left: 24px;
  }
  .heightEndImgBox {
    padding-right: 24px;
  }
}
@media (max-width: 768px) {
  .aboutPageSpace {
    margin: 10px 0 30px 0;
  }
}
@media (min-width: 1400px) {
    .cssAboutFirstImage{
    height: 388px;
    object-fit: cover;
}
.cssAboutSecontImage{
    height: 412px;
    object-fit: cover;
}
.cssThirdAboutImg{
    height: 430px;
    object-fit: cover;
}
}
@media (max-width: 767px) {
    .cssAboutFirstImage{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.cssAboutSecontImage{
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}
.cssThirdAboutImg{
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}
}
.cssDepartmentIcon{
    background-color: #fff;
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    flex-shrink: 0;
    font-size: 15px;
}