@font-face {
    font-family: 'Mustopha';
    src: url('../../../public//font//Mustopha.ttf') format('truetype');
}
.Css-header-bg-logo {
    background: #e9f0ff;
}
.Css-header-shadow-bottom {
    box-shadow: #2123261a 0 10px 10px -10px;
}
.Css-space-top-bottom-middle-header {
    padding-top: 3px;
    padding-bottom: 3px;
}
.Css-maulana-azad-text-eng {
    color: #03045e;
}
.Css-maulana-azad-text-eng {
    font-family: Mustopha, sans-serif;
    font-weight: 500;
    line-height: 36px;
    font-size: 41px;
}
@media (min-width: 1200px) {
    .Css-affiliated-text {
        font-size: 16px;
    }
}
.Css-affiliated-text {
    color: #975200;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.Css-urdu-maulana-azad-text{
    font-family: Mustopha, sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #03045e;
    line-height: 33px;
}
.Css-main-logo-height{
    height: 88px;
    width: 92px;
    filter: invert(.2);
}
/* Nav item */
.Css-headernavbs{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    background: #7a2633;
    border-radius: 0 0 15px 15px;
    padding: 6px 50px;
    z-index: 11;
}
.cssHeaderPRelativeBS{
    position: relative;
}
.cssLIstStyleNavItem {
  list-style: none;
  position: relative;
  gap: 21px;
}
.cssLIstStyleNavItem>li{
    padding-top: 8px;
    padding-bottom: 8px;
}
.nav-item,
.dropdown-submenu {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 220px;
  z-index: 1000;
  border: none;
  padding: 0;
}   
.nav-item.dropdown:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
  display: block;     
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  padding: 0px;
}
.dropdown-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}
.nav-item.dropdown:hover > .dropdown-toggle-wrapper .dropdown-icon {
  transform: rotate(180deg);
}
.dropdown-submenu:hover > .submenu-toggle-wrapper .dropdown-icon.sub {
  transform: rotate(180deg);
}
.nav-link-text, .sub-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.dropdown-menu {
  display: block;            
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  pointer-events: none;      
}
.dropdown-menu li{
    margin: 5px;
}
.nav-item.dropdown:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown-toggle-wrapper a{
    color: white;
    font-size: 16px;
}
.dropdown-icon{
    color: white;
}
.dropdown-menu a:hover{
  background: #cadcfc;
}
.cssHoverMultipleMenu:hover{
    background: #cadcfc !important;
}
/* Latest News */
.cssBackgroundLatestNews {
    background-color: var(--my-primary-color);
  }
  .latestNews {
    background-color: var(--my-secondary-color) ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
  
  .heading {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .heading span{
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .newsWrapper {
    overflow: hidden;
    position: relative;
  }
  .newsContent a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    padding-top: 4px;
  }
  .newsContent img {
    vertical-align: middle;
  }
 .is-sticky {
   position: fixed !important;
   top: 0 !important;
   width: 100%;
   z-index: 10003333;
    left: 0;
  }     
 .cssHeaderPRelativeBS.is-sticky {
   top: 30px !important; 
   border-top: 1px solid white;
  }
  .cssHeaderPRelativeBS.is-sticky .Css-headernavbs {
    position: relative !important; 
    width: 100%;
    border-radius: 0px;
}
.cssHeaderPRelativeBS.is-sticky .Css-headernavbs .cssLIstStyleNavItem{
    justify-content: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cssLIstStyleNavItem{
        gap: 14px;
    }
    .dropdown-toggle-wrapper a{
        font-size: 15px;
    }
    .cssLIstStyleNavItem a{
        font-size: 15px;
    }
    .Css-maulana-azad-text-eng {
    font-size: 29px;
    font-weight: 500;
    }
    .Css-urdu-maulana-azad-text {
        font-size: 24px;
        font-weight: 500;
    }
    .Css-affiliated-text {
    font-size: 14px;
   }
}
/* Mobile Header */
@media (max-width: 991px) {
    .Css-mob-header-shadow {
    box-shadow: #2123261a 0 10px 10px -10px;
  }
    .Css-mobile-header {
        display: flex;
        justify-content: space-between;
    }
    .Css-space-mob-header-menu {
        padding-top: 3px;
        padding-bottom: 3px;
    }
        .Css-mobile-header img {
        width: 55px;
    }
        .Css-maulana-azad-text-eng {
        font-family: Mustopha, sans-serif;
        color: #2d8127 !important;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
    }
        .Css-affiliated-text {
        color: #975200;
        font-size: 9px;
        font-weight: 500;
        line-height: 15px;
        text-align: center;
    }
    .actions-area{
        display: flex;
        align-items: center;
    }
    .Css-mob-header-shadow.is-sticky {
      position: sticky;
      top: 33px !important;  
      z-index: 1050;
      background: #fff;
    }

}